*.zip
*.lnk
*.pem
src/api_key.txt
src/location/map/*.png
src/location/raw/*.jpg
src/location/raw/*.png
src/location/string.png
artifact/
.github/workflows/*.md
src/polyline/.history
src/details/address/*
**/tmp.*
