*.bat
*.zip
details/list/*
details/raw/*
details/solved/*
details/*.pem
details/*.txt
polyline/src/*
polyline/kml/*
polyline/raw/*
polyline/*.html
polyline/*.json
polyline/*.txt
*.lnk
*.rb
*.txt
manual.md
20190524/details/*
20190611
20190628/details/*
20190712/details/*