*.zip
*.lnk
*.pem
src/.env.local
src/location/map/*.png
src/location/raw/*.jpg
src/location/raw/*.png
src/location/string.png
artifact/
.github/workflows/*.md
**/tmp.*
**/.DS_Store
/node_modules
/build